    <div  xmlns:th="http://www.thymeleaf.org" class="container" th:switch="${currentUser}">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Lost Pets</a>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right" th:case="null">
            <li><a th:href="@{/signup}">Signup</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" th:case="*">
            <li><a th:href="@{/pets}">Lost Pets</a></li>
            <li><a th:href="@{/pets/new}">Report a Lost Pet</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${currentUser.firstName}+ ' '+ ${currentUser.lastName}"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Account</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">item</a></li> 
                    <li><a th:href="@{/users}">Users</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    