/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2019, 4:11:51 PM
    Author     : azdren
*/

.center {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  
}

.image {
    height: 150px;
    width: auto;
}

.push-down {
    margin-top: 4%;
}

.set-inline-block {
    display: inline-block;
}
