<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lost Pets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
    </head>
    <body>
        <nav th:insert="partials/header" class="navbar navbar-inverse navbar-fixed-top"></nav>
        <div class="container push-down">
            <div class="jumbotron">
                <h1>Wellcome</h1>
                <p>This is a site for reporting lost pets</p>
                <p><a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Login</a> or
                    <a th:href="@{/signup}" role="button">Create an Account</a> </p>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/jQuery.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>
