
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
    </head>
    <body>
        <nav th:insert="partials/header" class="navbar navbar-inverse navbar-fixed-top"></nav>

        <div class="container push-down">
            
            <form th:action="@{/login}" method="POST"  th:object="${user}" class="center">
                <h1>Login</h1>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" th:field="*{email}" id="email" name="email" th:placeholder="Email"
                       class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" th:placeholder="password"
                       id="password" name="password" class="form-control"/>
                </div>
                    <p th:if="${param.error}" class="text-danger">Email or Password invalid, please verify</p>
                    
                <button class="btn btn-default" name="Submit" type="Submit"
                        th:text="Login">Login</button>
                    <a th:href="@{/signup}"> or SignUp</a>
            </form>
        </div>
        <script type="text/javascript" th:src="@{/js/jQuery.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>
