<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="${pet.name}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
    </head>
    <body>
        <nav th:insert="partials/header" class="navbar navbar-inverse navbar-fixed-top"></nav>
        <div class="container push-down">
            <h1>Pet Details</h1>
            <div class="panel panel-default set-inline-block">
  <!-- Default panel contents -->
  <div class="panel-heading" th:text="${pet.name}"></div>
  <div>
      <img th:src="${pet.imageUrl}" alt="pet image" class="img-responsive"/>
  </div>

  <!-- List group -->
  <ul class="list-group">
      <li class="list-group-item"><strong>Dog name: </strong><span th:text="${pet.name}"></span> </li>
      <li class="list-group-item"><strong>Info: </strong><span th:text="${pet.info}"></span></li>
      <li class="list-group-item"><strong>Lost Date: </strong><span th:text="${pet.lostDate}"></span></li>
      <li class="list-group-item"><strong>Contact Number: </strong><span th:text="${pet.contactNumber}"></span></li>
      <li class="list-group-item"><strong>Note: </strong><span th:text="${pet.note}"></span></li>
      <li class="list-group-item"><strong>Address: </strong><span th:text="${pet.address}"></span> </li>
      <li class="list-group-item"><strong>Status: </strong><span th:text="${pet.status}? 'Lost':'Found'"></span> </li>
      <li class="list-group-item"><strong>User: </strong><span th:text="${pet.user?.firstName}+' '+${pet.user?.lastName}"></span> </li>
    
  </ul>
</div>
        </div>
    </body>
</html>
