<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lost Pet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
    </head>
    <body>
         <nav th:insert="partials/header" class="navbar navbar-inverse navbar-fixed-top"></nav>
        <div class="container push-down">   
            <form action="#" th:action="@{/pets/create}" th:object="${pet}" method="post" class="center">
                <h1>Report your lost pet</h1>
                <div class="form-group">
                    <label for="name">Pet Name</label>
                    <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Pet Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{firstName}" placeholder="Provide an image url"></span>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image</label>
                    <input type="text" th:field="*{imageUrl}" class="form-control" id="image">
                    <p class="help-block">Provide a picture of your lost pet</p>
                    <span th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></span>
                </div>
                <div class="form-group">
                    <label for="info">Info</label>
                    <input type="text" th:field="*{info}" id="info" class="form-control" placeholder="Give some info, breed,color, etc.">
                    <span th:if="${#fields.hasErrors('info')}" th:errors="*{info}"></span>
                </div>
                <div class="form-group">
                    <label for="lostDate">Lost Date</label>
                    <input type="date" th:field="*{lostDate}" id="lostDate" class="date">
                    <span th:if="${#fields.hasErrors('lostDate')}" th:errors="*{lostDate}"></span>
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" th:field="*{contactNumber}" id="contactNumber" class="form-control" placeholder="ex. 044/049-123-123">
                    <span th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></span>
                </div>
                <div class="form-group">
                    <label for=n"note">Note</label>
                    <textarea cols="80" rows="10" th:field="*{note}" id="note" class="form-control">
                    </textarea>
                    <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></span>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" th:field="*{address}" id="address" class="form-control" placeholder="Type the address">
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
                <div class="checkbox">
                    <label for="status">Status </label>
                    <label>
                        <input type="checkbox" th:field="*{status}" class="checkbox" id="status"> Lost 
                    </label>
                    <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-default" value="Create pet">   
                    </div>
                </div>
                <br/>
            </form>    

        </div>
        <script type="text/javascript" th:src="@{/js/jQuery.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>
