<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lost Pets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
    </head>
    <body>
         <nav th:insert="partials/header" class="navbar navbar-inverse navbar-fixed-top"></nav>
        <div class="container push-down" th:switch="${pets}">
            <h2 th:case="null">There are no lost pets</h2>
            <div th:case="*">
                <h2>Lost Pets</h2>
                 <table class="table table-striped table-hover"> 
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Pet name</th>
                                <th>Owner</th>
                                <th>Address</th>
                                <th>Image</th>
                                <th>Info</th>
                                <th>Lost Date</th>
                                <th>Note</th>
                                <th>Status</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pet : ${pets}">

                                <td th:text="${pet.id}"></td>
                                <td th:text="${pet.name}"></td>
                                <td th:text="${pet.user?.firstName}+' '+${pet.user?.lastName}"></td>
                                <td th:text="${pet.address}"></td>
                                <td>
                                    <div class="col-xs-6 col-md-3">
                                        <a th:href="@{/pets/{id}/details(id=${pet.id})}" class="thumbnail">
                                            <img th:src="${pet.imageUrl}" alt="pet image"/>
                                        </a>
                                    </div>
                                </td>
                                <td th:text="${pet.info}"></td>
                                <td th:text="${pet.lostDate}"></td>
                                <td th:text="${pet.note}"></td>
                                <td th:text="${pet.status}? 'Lost':'Found'"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

       <script type="text/javascript" th:src="@{/js/jQuery.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>
