<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signup</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
    </head>
    <body>
        <nav th:insert="partials/header" class="navbar navbar-inverse navbar-fixed-top"></nav>
        
        <div class="container push-down">
            <form action="#" th:action="@{/signup}" th:object="${user}" method="post" class="center">
                <h1>Sign Up</h1>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control" placeholder="First Name">
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                     <input type="text" th:field="*{lastName}" id="lastName" class="form-control" placeholder="Last Name">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>
                <div class="form-group">
                     <label for="email">Email</label>
                     <input type="text" th:field="*{email}" id="email" class="form-control" placeholder="Email">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="SignUp">   
                </div>
            </form>    
        </div>
         <script type="text/javascript" th:src="@{/js/jQuery.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>
