<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
    </head>
    <body>
        <nav th:insert="partials/header" class="navbar navbar-inverse navbar-fixed-top"></nav>
        <div class="container push-down" th:switch="${users}">
            <h2 th:case="null">There are no users </h2>
            <div th:case="*">
                <h2>Users</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>      
        </div>
        <script type="text/javascript" th:src="@{/js/jQuery.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>
